

.offcanvas {
    background-color: #fff;
}

.offcanvas .nav-link {
    font-weight: 500;
    color: black;
}
/* HERO SECTION */
body {
    margin: 0;
    padding: 0;
}

/* NAVBAR OVER HERO */
.custom-navbar {
    z-index: 1000;
    background: transparent;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .nav-icon {
    color: white !important;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-icon:hover {
    color: #dddddd !important;
}

.hero-search {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 20px;
    width: 160px;
}

.hero-search:focus {
    box-shadow: none;
}

/* HERO SECTION */
.hero-section {
    height: 100vh;
    background: url("/static/images/hero.jpg") center center / cover no-repeat;
    position: relative;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 1.2rem;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -10px;
    background: white;
    color: black;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
}

.product-card {
    cursor: pointer;
}

.product-image {
    overflow: hidden;
}

.product-image img {
    transition: transform 0.4s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}

.product-info h6 {
    font-weight: 500;
    font-size: 14px;
}

.product-info p {
    font-size: 13px;
}

#about {
    background-color: #f9f9f9;
}

#about h2 {
    letter-spacing: 1px;
}

#about p {
    font-size: 15px;
    line-height: 1.7;
}

.about-image {
    overflow: hidden;
    border-radius: 12px;
}

.about-image img {
    width: 100%;
    transition: transform 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.05);
}

.product-card {
    cursor: pointer;
}

.product-image {
    position: relative;
    overflow: hidden;
}

.product-image .main-img,
.product-image .hover-img {
    width: 100%;
    display: block;
}

.product-image .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.product-image .main-img {
    transition: opacity 0.4s ease;
}

.product-card:hover .hover-img {
    opacity: 1;
}

.product-card:hover .main-img {
    opacity: 0;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.15);
}

.product-card:hover .overlay {
    opacity: 1;
}

.product-image {
    position: relative;
    overflow: hidden;
    border: 2px solid red;
}